body{
    width:2551px;
    height:3402px;
    margin: auto;
    padding:0 0;
}
body * {
    margin: 0 0;
}

div.header{
    height: 20%;
    width: 100%;
    background: url("../assets/imgs/bg_348067.png") repeat;
}
div.header div.title-container span{
    display:inline-block;
    font-size: 12.5em;
    color: yellow;
    letter-spacing: 5px;
    text-shadow: 0px 0px 10px #111;
}
span.me:after{
    content: "\2665";
    color: red;
    font-size: 1.4em;
}

div.header div.title-container{
    text-align: center;
    position: relative;
    top: 45%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    height: 600px;
    width: 600px;
}

div.header div.title-container div.title-wrapper{
    position: relative;
    top: 50%;
    transform:translateY(-50%);
}
div.header div.title-container div.title-wrapper:before{
    content: "{";
    font-size: 22em;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-50%);
    color: red;
    text-shadow: 0px 0px 10px #111;
}

div.header div.title-container div.title-wrapper:after{
    content: "}";
    font-size: 22em;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(50%);
    color: red;
    text-shadow: 0px 0px 10px #111;

}

div.content{
    height: 75%;
    width: 100%;
}
div.footer{
    height: 5%;
    width: 100%;
    background:url("../assets/imgs/bg_348067.png");
}
div.content div.block{
    height: 25%;
    width: 100%;
}


div.block div.leftpart, div.block div.rightpart {
    height: 100%;
    width: 40%;
    color: #335;
    text-shadow: 0px 0px 3px #eee;
    position: relative;
}



div.block:nth-child(even) div.leftpart, div.block:nth-child(odd) div.rightpart {
    background:linear-gradient(180deg, greenyellow,#FFE74C) repeat;
}

div.block:nth-child(odd) div.leftpart, div.block:nth-child(even) div.rightpart {
    background:linear-gradient(180deg,#56E39F,yellowgreen) repeat;
}


div.block{
    float: left;
}

div.block div.centerpart{
    width: 20%;
    height: 100%;
    position: relative;
    background:linear-gradient(180deg, greenyellow,#FFE74C) repeat;
}

div.block div{
    float:left;
    display: inline-block;
}

img.keepRatio{
    height: 100%;
    left: 50%;
    top: 50%;
    position: relative;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}
div.leftpart div.words-container{
    width: 95%;
    left: 20px;
    font-size: 3.5em;
    position:relative;
    top: 50%;
    transform:translateY(-50%);
}

div.rightpart div.words-container{
    width: 95%;
    right: 8px;
    font-size: 3.5em;
    position:relative;
    top: 50%;
    transform:translateY(-50%);
    text-align: right;
}

div.block img{
    position: absolute;
    z-index: 5;
    border: 10px solid navajowhite;
    border-radius: 8px;
    box-shadow: 10px 10px 20px #333333;
    top: 0;
    left: 0;
}

div.block:nth-child(1) img{
    transform: rotateZ(5deg) translateX(-40px) translateY(25px);
    transform-origin: right bottom;
}
div.block:nth-child(2) img{
    transform: rotateZ(-3deg);
    transform-origin: left bottom;
}
div.block:nth-child(3) img{
    transform: rotateZ(-3deg);
    transform-origin: left bottom;
}
div.block:nth-child(4) img{
    transform:rotateZ(5deg);
    transform-origin: right bottom;
}

div.block:nth-child(3) div.centerpart{
    overflow: hidden;
}
strong.important{
    color: #222;
    -moz-text-decoration-line: underline;
    text-decoration-line:underline;
    -moz-text-decoration-style: solid;
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    -moz-text-decoration-color: navajowhite;
    -webkit-text-decoration-color: navajowhite;
    text-decoration-color: navajowhite;
    text-decoration: underline;
}
div.leftpart.intro:before{
    content: "WE";
    position: absolute;
    font-size: 9em;
    color: rgba(255,0,0,0.5);
    display: inline-block;
    z-index: 5;
    top: 30%;
    left: 85%;
    transform:translateX(-50%) translateY(-50%);
    border-radius: 50%;
    font-family:"Comic Sans MS";
}
div.leftpart.study:after{
    content:"ARE";
    position: absolute;
    font-size: 10em;
    color: rgba(255,0,0,0.7);
    bottom: 0;
    right: 0;
    border-radius: 45% 45%;
    transform:translateX(30px) translateY(30px);
    z-index:10;
    font-family:"Comic Sans MS";
}
div.footer span{
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 4.2em;
    font-weight: bold;
    transform:translateY(-50%) translateX(-50%);
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color:#007dc1;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
    padding:22px 35px;
}